.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    background-color: var(--color-accent);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    transition: background 0.2s ease;

    &:hover {
        filter: brightness(90%);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.fullWidth {
    display: flex;
    width: 100%;
}
