STRIPE_SECRET_KEY=<stripe-secret-key-here>
PORT=<port-number-here>
FRONTEND_URL=<frontend-url-here>
UNSPLASH_ACCESS_KEY=<unsplash-access-key-here>
SUPABASE_URL=<supabase_url_here>
SUPABASE_SERVICE_KEY=<supabase_service_key_here
BACKEND_URL_LOCAL=http://localhost:<port-number-here>
BACKEND_URL_PROD=<production-backend-url-here>
SEED_ENV=production   # "production" or "development"
