.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .announcementBanner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--color-text);
        color: var(--color-bg-light);
        text-align: center;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;

        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                opacity: 0.8;
            }
        }

        button {
            position: absolute;
            right: 29px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            padding: 0;
            border-radius: 0;
            background-color: transparent;

            svg {
                font-size: 1.125rem;
            }
        }
    }

    .contentWrapper {
        width: 100%;
        max-width: 1440px;
        // margin: 0 auto;
        justify-self: center;
    }

    nav {
        position: sticky;
        top: 0;
        // padding: 0 1rem;
        z-index: 50;
    }

    main {
        flex: 1;
        padding: 1.25rem 0 5rem;
    }

    footer {
        display: flex;
        justify-content: center;
        position: sticky;
        bottom: 0;
        padding: 1rem 0;
        z-index: 50;
        background-color: var(--color-bg-dark);
    }

    @media (max-width: 768px) {
        .announcementBanner {
            font-size: 0.75rem;

            button {
                display: none;
            }
        }

        .contentWrapper {
            padding: 0;
        }

        nav {
            padding: 0;
        }

        main {
            padding: 1.25rem 0 5rem;
        }
    }
}
