.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin: 64px 0 55px;
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;

        @media (max-width: 768px) {
            margin: 50px 0 32px;
            font-size: 2rem;
        }
    }

    .productsRow {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.25rem;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    button {
        margin-top: 36px;
        padding: 15px 80px;
        background-color: transparent;
        color: var(--color-text);
        border: 1px solid var(--color-bg-dark);

        @media (max-width: 768px) {
            margin: 24px 16px 0;
            padding: 13.5px 80px;
            width: 100%;
            max-width: 358px;
        }
    }
}
