nav {
    display: flex;
    padding: 1.5rem 0;
    gap: 1.5rem;
    background-color: var(--color-bg-light);
    border-bottom: 1px solid var(--color-bg-dark);

    a {
        font-weight: 600;

        &,
        &:hover,
        &:focus,
        &:active,
        &:visited {
            text-decoration: none;
            color: inherit;
        }
    }
}
