.track {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
    -ms-overflow-style: none;

    .item {
        flex: 0 0 calc(100% / 3);
        scroll-snap-align: start;
        width: calc(100% / 3);
        box-sizing: border-box;
        padding: 0 8px;
    }
}

@media (max-width: 768px) {
    .track .item {
        flex: 0 0 100%;
        width: 100%;
        padding: 0 6px;
    }
}
