footer {
    display: flex;
    background-color: var(--color-bg-dark);
    padding: 1rem 2rem;
    gap: 1.5rem;
    color: var(--color-text-muted);

    .content {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
    }
}
