nav {
    display: flex;
    background-color: var(--color-bg-light);
    box-shadow: var(--shadow-elevation-1);
    padding: 1rem 2rem;
    gap: 1.5rem;

    a {
        font-weight: 600;

        &,
        &:hover,
        &:focus,
        &:active,
        &:visited {
            text-decoration: none;
            color: inherit;
        }
    }
}
