.home {
    margin-top: -32px;

    .heroSection,
    .brandStrip {
        margin: 0 -16px;
    }

    .productShowcase {
        margin-top: 8px;
    }

    .divider {
        margin-top: 64px;
        width: 100%;
        height: 1px;
        background-color: var(--color-bg-dark);
    }

    .categoryGrid,
    .customerReviews {
        margin-top: 80px;
    }
}
