.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--color-bg-light);
    overflow: hidden;
    text-align: left;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;

    .imageWrapper {
        position: relative;
        border-radius: 1.25rem;
        overflow: hidden;
        aspect-ratio: 295 / 298;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.2s ease;
    }

    .name {
        margin-top: 1rem;
        width: 100%;
        font-size: 1.25rem;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .price {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        font-weight: 700;
    }

    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
        text-decoration: none;
        color: inherit;
    }

    &:hover img {
        transform: scale(1.1);
    }
}

@media (max-width: 768px) {
    .card {
        .imageWrapper {
            aspect-ratio: 172 / 174;
        }
    }
}
