.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px 24px;
    border-radius: 1.25rem;
    border: 1px solid var(--color-bg-dark);

    ul {
        list-style: none;
    }
}
