.reviewCard {
    padding: 28px 32px;
    border-radius: 1.25rem;
    border: 1px solid var(--color-bg-dark);

    .rating {
        font-size: 2rem;

        .starFilled {
            color: #f5c518;
        }

        .starEmpty {
            color: #d3d3d3;
        }
    }

    h4 {
        margin-top: 15px;
        font-size: 1.25rem;
        line-height: 22px;
    }

    p {
        margin-top: 12px;
        max-width: 336px;
        height: 110px;
        line-height: 22px;
        color: var(--color-text-muted);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        overflow: hidden;

        &::before {
            content: open-quote;
        }

        &::after {
            content: close-quote;
        }

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }
}
