.additionalDetails {
    display: flex;
    flex-direction: column;

    .tabs {
        display: flex;

        .tabButton {
            flex: 1;
            background: none;
            color: var(--color-text-muted);
            border-radius: 0;
            border-bottom: 1px solid var(--color-bg);
            font-size: 1.25rem;
            line-height: 22px;
            font-weight: normal;

            &.active {
                color: var(--color-text);
                border-bottom: 2px solid var(--color-text);
                font-weight: 500;
            }
        }
    }

    .tabHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        gap: 10px;
        width: 100%;
        height: 48px;

        h4 {
            font-size: 1.5rem;
        }
    }

    .reviewTab {
        display: flex;
        flex-direction: column;
        align-items: center;

        .reviewCount {
            margin-top: 4px;
            margin-right: auto;
            color: var(--color-text-muted);
        }

        .filtersButton,
        .latestButton {
            background-color: var(--color-bg);
            color: var(--color-text);
        }

        .filtersButton {
            padding: 14px 13px;
            aspect-ratio: 1 / 1;

            svg {
                font-size: 18.75px;
                stroke-width: 3;
            }
        }

        button {
            height: 48px;
        }

        .reviewsGrid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-top: 24px;
            width: 100%;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }

        .loadMore {
            margin-top: 36.42px;
            padding: 15px 45px;
            background: none;
            color: var(--color-text);
            font-weight: 500;
            border: 1px solid var(--color-bg-dark);
        }
    }

    .description {
        margin-top: 40px;
        color: var(--color-text-muted);
    }

    .faqsTab {
        margin-top: 40px;

        .questionsWrapper {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .questions {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 570px;

            &:first-child {
                border-top: 1px solid var(--color-border);
            }

            &:last-child {
                border-bottom: 1px solid var(--color-border);
            }

            > *:not(:last-child) {
                border-bottom: 1px solid var(--color-border);
            }
        }
    }
}
